
/* Custom CSS */

/* STEP 12: Captions are positioned using Bootstrap utility classes */

/* STEP 13: View the result in the browser */

/* The below class and animation keyframes are used by the JavaScript */

.zoomit {
    animation: zoom-in-out .5s;
}

@keyframes zoom-in-out {
    from {
        transform: none;
    }
    50% {
        transform: scale(1.4);
        transform-origin: center top;
    }
    to {
        transform: none;
    }
}
